.log {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 50px;
}

.log-img {
    margin-left: 50px;
    margin-top: 50px;
}

.log-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.log h1 {
    font-family: sans-serif;
    margin-bottom: 40px;
    /* width: 70%; */
    text-align: center;
    color: #2a2b3f;
}

.log input {
    padding: 15px 20px;
    width: 350px;
    border-radius: 4px;
    border: 1px solid #9194ac;
    margin-bottom: 20px;
    font-size: 16px;
}

.log input:focus {
    border-color: rgb(130, 116, 218);
    outline: none;
}

.continue-btn {
    padding: 15px 140px;
    background-color: #6d28d9;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continue-btn:hover {
    background-color: #5b21b6;
}


.log-form p {
    font-family: sans-serif;
    margin-top: 20px;
    color: #2a2b3f;
    font-size: 14px;
}

.social-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.social-btn {
    width: 50px;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.social-btn img {
    height: 22px;
    width: auto;
}

/* Platform-specific colors */
.google {
    border: thin solid #6d28d9;
}

.facebook {
    border: thin solid #6d28d9;
}

.apple {
    border: thin solid #6d28d9;
}

.sign-up {
    font-family: sans-serif;
    margin-top: 30px;
    font-size: 12px;
}

.sign-up a {
    color: #6d28d9;
    font-weight: 700;
}

.org {
    font-family: sans-serif;
    border: #f6f7f9 thin solid;
    background-color: #f6f7f9;
    padding: 20px 82px;
    margin-top: 30px;
}

.org a {
    color: #6d28d9;
    font-weight: 700;
}

@media (max-width:768px) {
    .log-img {
        display: none;
    }
}